.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
!.idea/conventionalCommit.xml
!.idea/encodings.xml
!.idea/vcs.xml
**/*.iml

.sdkmanrc

.vscode/
config/fake-body.json
config/test.xml
config/out/
fixture/data/
target/
bench/node_modules
bench/customers/*.json
